@import "../imports";

#header-card {
  padding-top: 50px;
  padding-bottom: 50px;
}
mat-card {
  @media only screen and (max-width: $size-md) {
    margin-top: 50px;
  }
}
mat-card-header {
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  font-weight: bolder;
  margin-bottom: 10px;
}
.logo-bg {
  margin-right: 15px;
  height: 45px;
  width: 45px;
  background-size: cover;
  background-repeat: no-repeat;
}
