@import "../imports";

#header-card {
  padding-top: 50px;
  padding-bottom: 20px;
  &.dark {
    color: $text-dark;
  }
  mat-card {
    transition-duration: .3s !important;
    @media only screen and (max-width: $size-md) {
      margin-top: 50px;
    }
    &.dark {
      background-color: $color-dark-1;
      color: $text-dark;
    }
  }
}

.logo-bg {
  margin-right: 15px;
  height: 45px;
  width: 45px;
  background-size: cover;
  background-repeat: no-repeat;
}

ul {
  padding-left: 20px
}
