@import "../imports";

#collapsibles {
  &.dark {
    color: $text-dark;
  }
}

mat-expansion-panel {
  &.dark {
    background-color: $color-dark-1;
    color: $text-dark;
  }
}
mat-panel-title {
  font-size: 18px;
  font-weight: 600;
  font-family: 'Quicksand', sans-serif;
  &.dark {
    color: $text-dark;
    .code-inline {
      color: $text-dark !important;
    }
  }
}

