@import '../../sections/imports';

.hide-sm {
  @media only screen and (max-width: 500px) {
    display: none !important;
  }
}
.tab {
  position: fixed;
  display: flex;
  top: 30px;
  right: -400px;
  transition-duration: .3s;
  &.open {
    right: 30px;
  }
}
.handle {
  position: relative;
  height: 50px;
  width: 50px;
  border-radius: 3px 0 0 3px;
  background-color: $color-light-1;
  fa-icon {
    color: $color-accent;
  }
}
fa-icon {
  font-size: 22px;
  width: auto;
  color: $color-dark-3;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#pages {
  z-index: -2;
  position: relative;
  width: 400px;
  height: 600px;
  background-color: $color-light-2;
  border-radius: 0 3px 3px 3px;
  overflow: hidden;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}
#search-page {
  z-index: 1;
  transition-duration: .3s;
}
#details-page {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
}

.search {
  width: 400px;
  height: 600px;
  display: flex;
  flex-flow: column;
  background-color: $color-light-2;
  .header-wrapper {
    height: fit-content;
    width: 100%;
    padding: 17.5px 30px;
    margin-bottom: 30px;
    background-color: $color-light-3;
    color: $color-accent;
  }
}
.search-bar {
  width: 100%;
}
.scrollable {
  overflow-y: auto;
  padding: 0 30px 30px;
  margin-bottom: 10px;
  flex-grow: 1;
}
.entry {
  margin-bottom: 30px;
  &:hover {
    cursor: pointer;
  }
  h4 {
    color: $color-accent;
    padding: 5px 8px;
    margin: 0;
    background-color: rgba(0,0,0,0.1);
    border-radius: 3px 3px 0 0;
  }
  .content {
    border: 2px solid rgba(0,0,0,0.1);
    border-radius: 0 0 3px 3px;
    p {
      padding: 5px 8px;
      &.syntax {
        font-size: 12px;
        background-color: rgba(0,0,0,0.1);
      }
    }
  }
}
.info-text {
  color: $color-dark-3;
  font-size: 12px;
  text-align: center;
  padding: 10px 30px;
}
.info-text-left {
  color: $color-dark-3;
  font-size: 14px;
  text-align: left;
  margin-top: 8px;
}

.close-icon {
  position: absolute;
  top: 28px;
  right: 30px;
  font-size: 20px;
  fa-icon {
    color: $color-accent;
  }
}
.detail-wrapper {
  position: relative;
  display: flex;
  flex-flow: column;
  height: 600px;
  width: 400px;
  padding-bottom: 30px;
  .header-wrapper {
    height: fit-content;
    width: 100%;
    padding: 30px 30px;
    margin-bottom: 30px;
    background-color: $color-light-3;
    color: $color-accent;
  }
  .scrollable {
    padding: 0 30px;
    .example {
      padding: 8px;
      border: 2px solid rgba(0,0,0,0.05);
      border-radius: 3px;
      margin-bottom: 20px;
    }
  }
}
.code-block {
  display: block;
  position: relative;
  white-space: pre;
  padding: 10px 13px;
  margin: 10px 0 0;
  width: 100%;
  color: rgba(0,0,0,0.7);
  background-color: rgba(0,0,0,0.05);
  overflow-x: auto;
  border-radius: 3px;
  &:after {
    display: none;
    content: ''
  }
}
