@import '../../sections/imports';

.full-width {
  width: 100%;
}

.lib-button {
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 18px;
  font-weight: 700;
  color: $color-accent;
}
.mat-horizontal-stepper-header-container {
  max-width: 80%;
}
::ng-deep mat-step-header {
  min-width: 180px;
}
mat-horizontal-stepper {
  height: 100vh;
  background-color: $color-light-1;
}
mat-form-field {
  width: 100%;
}
.library-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  max-width: 500px;
  transform: translateX(105%);
  transition-duration: .3s;
}
.entry-wrapper {
  position: relative;
  max-height: calc(100vh - 220px);
  overflow: auto;
  padding: 20px 0;
}
.detail-wrapper {
  overflow: auto;
  max-height: calc(100vh - 220px);
  padding: 20px 0;
  margin: 20px 0;
}
.entry {
  cursor: pointer;
  h4 {
    color: $color-accent;
  }
  .entry-description {
    font-size: 14px;
  }
}
.code-block {
  overflow-x: auto;
  &:after {
    display: none;
  }
}
.syntax {
  overflow: auto;
  margin: 10px 0;
  padding: 5px 8px;
  width: fit-content;
  font-size: 12px;
  color: rgba(0,0,0,0.7);
  background-color: rgba(0,0,0,0.1);
  border-radius: 3px;
}
.close-button{
  position: absolute;
  width: calc(100% - 48px);
  bottom: 20px;
  background-color: $color-accent;
  color: $color-light-3;
}
.close-button-second{
  position: absolute;
  right: 24px;
  color: $color-light-1;
  background-color: $color-accent;
}

.hidden {
  transform: translateX(0);
}
