$color-dark-3: #676767;
$color-dark-2: #545454;
$color-dark-1: #363636;
$color-dark: #161616;
$text-dark: rgba(255,255,255,0.7);

$color-light: #F8F8F8;
$color-light-1: #F0F0F0;
$color-light-2: #E5E5E5;
$color-light-3: #D4D4D4;

$color-accent-dark: #B986B4;
$color-accent: #8f3288;

$gradient-radial: radial-gradient(100% 813.49% at 100% 0%, #F2B9C4 0%, rgba(177, 78, 127, 0.984994) 48.96%, #823575 100%);
$gradient-linear: linear-gradient(180deg, #F2B9C4 0%, #B14E7F 50%, #823575 100%);

$size-md: 768px;

::ng-deep h2 {
  font-weight: 300;
  margin-bottom: 12px;
  padding: 0 5px;
}
::ng-deep p {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 0;
  padding: 0 5px;
  hyphens: auto;
  word-wrap: break-spaces;
}
::ng-deep ul {
  margin-bottom: 0;
}
::ng-deep a:not(.logo-bg) {
  color: $color-accent !important;
  padding: initial !important;
  transition-duration: .1s !important;
  border-radius: 3px !important;
  &:hover {
    color: $color-light !important;
    padding: 3px 5px !important;
    background-color: $color-dark !important;
    text-decoration: none !important;
  }
  &.dark {
    color: $color-accent-dark !important;
    &:hover {
      color: $color-dark !important;
      background-color: $color-light-3 !important;
    }
  }
}

.shadow-text {
  text-shadow: 2px 2px 5px rgba(0,0,0,0.4);
}

.white-text {
  color: white !important;
}

.abs-center {
  position: absolute;
  margin-left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.center {
  margin-left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.horiz-center {
  margin-left: 50%;
  transform: translateX(-50%);
}

.seperator {
  margin: 20px 0 20px 50%;
  height: 3px;
  width: 30px;
  transform: translateX(-50%);
  background-color: white;
}

.slice {
  height: 300px;
  overflow: hidden;
}

::ng-deep .code-inline {
  display: inline-block;
  padding: 1px 5px;
  width: fit-content;
  color: rgba(0,0,0,0.7);
  background-color: rgba(0,0,0,0.1);
  border-radius: 3px;
  &.dark {
    color: $text-dark;
    background-color: rgba(255,255,255,0.1);
  }
}
::ng-deep .code-block {
  overflow-x: auto;
  display: block;
  position: relative;
  white-space: pre;
  padding: 10px 13px;
  margin: 20px 0;
  width: 100%;
  color: rgba(0,0,0,0.7);
  background-color: rgba(0,0,0,0.05);
  border-radius: 3px;
  @media only screen and (min-width: 768px) {
    padding: 10px 13px 10px 26px;
    &:after {
      content: 'CODE';
      position: absolute;
      top: 50%;
      height: fit-content;
      left: 0;
      width: fit-content;
      color: black;
      font-size: 10px;
      transform: translateY(-50%) rotate(-90deg);
    }
  }
  &.dark {
    color: $text-dark;
    background-color: $color-dark-1;
    border-left: 3px solid $color-light-3;
    &:after {
      color: $text-dark;
      background-color: $color-dark-2;
    }
  }
}

