@import "../../sections/imports";

#footer {
  margin-top: 100px;
}

.full-width {
  color: $color-dark-3;
  background-color: $color-light-1;
  height: fit-content;
  padding: 20px 0;
}
a {
  color: $color-dark-3;
  :active {
    color: $color-dark;
  }
}
.margin-left-10 {
  margin-left: 10px;
}
