@mixin default-syntax {
  .variable {
    color: white !important;
  }
  .operator {
    color: white !important;
  }
  .bracket {
    color: white !important;
  }
  .constant {
    color: white !important;
  }
  .keyword {
    color: white !important;
  }
}

@mixin default-syntax-dark {
  .variable {
    color: white !important;
  }
  .operator {
    color: white !important;
  }
  .bracket {
    color: white !important;
  }
  .constant {
    color: white !important;
  }
  .keyword {
    color: white !important;
  }
}
