<div class="snippet-wrapper">
  <div class="interactions d-flex">
    <button mat-icon-button class="mat-button"  (click)="interpretLine()"><fa-icon [icon]="stepIcon" class="small-icon"></fa-icon></button>
    <button mat-icon-button class="mat-button"><fa-icon [icon]="playIcon" class="small-icon"></fa-icon></button>
  </div>
  <div class="line-wrapper">
    <div class="current-line"></div>
    <div class="lines">
      <div *ngFor="let lineLabel of lineLabels"
           (click)="setCurrentLine( lineLabel )"
           [class.active]="lineLabel === currentLine">{{ lineLabel }}</div>
    </div>

    <div class="editor-wrapper">
      <div class="editor-overlay"
           #editorOverlay></div>

      <div class="editor"
           contenteditable="true"
           (focus)="setFocus( true )"
           (blur)="setFocus( false )"
           #editor>
      </div>
    </div>
  </div>
</div>




