@import "../../../assets/scss/shared.scss";
@import "../../../assets/scss/mixins.scss";
.snippet-wrapper {
  position: relative;
  display: flex;
  flex-flow: column;
  height: 100%;
  background-color: #f3f3f3;
  transition-duration: .3s;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: -3px;
    height: 100%;
    width: 3px;
    background: $gradient-linear;
  }
  .interactions {
    border-bottom: 1px solid $color-light-3;
  }
  .line-wrapper {
    display: flex;
    position: relative;
    .lines {
      min-width: 20px;
      margin: 0 12px;
      color: #c4c4c4;

      font-family: 'JetBrains Mono', sans-serif;
      font-size: 1rem;
      line-height: 1.5rem;
      white-space: pre;
      text-align: right;

      div {
        &:hover {
          text-decoration: underline;
          cursor: default;
        }
        &.active:before {
          content: '';
          position: absolute;
          display: block;
          left: 0;
          height: 24px;
          width: 100%;
          background-color: rgba(0, 0, 0, 0.05);
        }
      }
    }
    .editor-wrapper {
      position: relative;
      width: 100%;
      .editor-overlay {
        width: calc( 100% - 48px );
        background-color: transparent;
        color: black;
        overflow: hidden;

        font-family: 'JetBrains Mono', sans-serif;
        font-size: 1rem;
        line-height: 1.5rem;
        white-space: pre;
      }
      .editor {
        position: absolute;
        top: 0;
        width: calc( 100% - 48px );
        color: transparent;
        caret-color: black;
        background: transparent;
        overflow: auto;
        @include scrollbar();

        font-family: 'JetBrains Mono', sans-serif;
        font-size: 1rem;
        line-height: 1.5rem;
        white-space: pre;

        &:focus {
          outline: none;
        }
      }
    }
  }
  &.dark {
    background-color: $color-dark-1;
    color: $text-dark;
    .interactions {
      border-bottom: 1px solid $color-dark-2;
    }
    .lines {
      color: $color-dark-3 !important;
    }
    .editor-overlay {
      color: $text-dark !important;
    }
    .current-line {
      background-color: rgba( 0, 0, 0, 0.5 );
    }
  }
}

.editor-output {
  background-color: $color-light-2;
  box-shadow: inset 58px 0 24px -50px rgba( 0, 0, 0, 0.1 );
  transition-duration: .3s;
  .title {
    line-height: 40px;
    text-align: center;
    box-sizing: border-box;
    border-bottom: 1px solid rgba( 0, 0, 0, 0.3 );
    background: $gradient-radial;
  }
  .subtitle {
    line-height: 40px;
    text-align: center;
    box-sizing: border-box;
    border-bottom: 1px solid rgba( 0, 0, 0, 0.3 );
    background: $color-light-3;
  }
  .content {
    display: flex;
    flex-flow: row;
    padding: 16px;
    .key-names, .values {
      margin-right: 8px;
      white-space: nowrap;
    }
    .values {
      flex-grow: 1;
      overflow-x: auto;
      @include scrollbar();
    }
    .code:not( :last-child ) {
      margin-bottom: 8px;
    }
  }
  &.dark {
    border-left: 1px solid $color-dark-3;
    .subtitle {
      background: $color-dark-2;
      color: $text-dark;
      border-bottom: 1px solid $color-dark-3;
    }
    .content {
      background: $color-dark-1;
      color: $text-dark;
    }
  }
}
