@import "../imports";

#header-slice {
  position: relative;
}
.background-img {
  position: absolute;
  height: 100%;
  width: 100vw;
  top: 0;
  left: 0;
  background-size: cover;
}
.shader {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  height: 300px;
  width: 100vw;
  background-color: rgba(0,0,0,0.5 );
}
.center {
  width: 100%
}
img {
  z-index: -1;
}
h1 {
  z-index: 1;
}
.img-large {
  height: calc( 100vh - 70px );
}
