@import "../imports";

.full-width {
  width: 100vw;
}
.shader {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  height: 300px;
  width: 100vw;
  background-color: rgba(0,0,0,0.5);
}
img {
  z-index: -1;
}
h1 {
  z-index: 1;
}
.height-500 {
  height: 500px;
}
