<div class="full-width slice position-relative" [class.height-500]="sectionData.primary.is_large == 'true'" id="header-slice">
  <img [src]="background_img" class="center" alt="background">
  <div class="abs-center">
    <h1 innerHTML="{{sectionData.primary.header[0].text.toUpperCase()}}" class="white-text shadow-text text-center"></h1>
    <div class="seperator"></div>
    <p *ngIf="sectionData.primary.description != undefined" innerHTML="{{sectionData.primary.description | prismicDOM}}" class="white-text shadow-text text-center"></p>
  </div>
</div>
