@import "../../sections/imports";
@import "../../../assets/scss/colors";

#page {
  transition-duration: .3s;
  &.dark {
    background: $color-dark;
  }
  &.no-ligatures {
    > * {
      font-variant-ligatures: none !important;
    }
  }
}
