@import "../../sections/imports";
::ng-deep .simplebar-scrollbar {
  right: 5px !important;
}
::ng-deep .simplebar-track {
  overflow: visible !important;
}
#page {
  overflow-x: hidden;
}

app-menu {
  position: fixed;
  top: 0;
  left: 0;
}
app-header-slice {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
}

.above {
  z-index: 2;
  width: 100vw;
  margin-top: 300px;
  background-color: white;
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.4);
  transition: background-color .3s;
  &.dark {
    background-color: $color-dark;
  }
}

.top-500 {
  margin-top: 500px !important;
}

::ng-deep .bold-inline {
  display: inline-block;
  font-weight: bold;
}
