@import "../imports";
#page-buttons {
  padding: 20px 0;
}
h1,h2,h3,h4,h5,h6 {
  font-family: 'Quicksand', sans-serif;
}
::ng-deep h1,h2,h3,h4,h5,h6 {
  font-family: 'Quicksand', sans-serif;
}
.prev, .next {
  ::ng-deep p {
    margin: 0;
    padding: 0;
  }
}
button:nth-child(2) {
  margin-left: 15px;
}
.highlighted {
  color: $color-accent;
}
button {
  &.dark {
    background-color: $color-dark-1;
    color: $text-dark;
    &.highlighted {
      color: $color-accent-dark;
    }
  }
}
