@import "../imports";
.menu {
  z-index: 100;
  position: sticky;
  top: 0;
  background: white;
  border-bottom: 1px solid black;
}
.mat-menu-content {
  &.dark {
    background-color: $color-dark-1;
  }
}
.mat-menu-item {
  font-family: 'Open Sans', sans-serif;
  color: black;
  transition-duration: .3s;
  &.dark {
    color: white;
    background-color: $color-dark-1;
  }
}

.chapter-count {
  background: $gradient-radial;
  margin-left: -28px;
  margin-right: 20px;
  padding: 2px 6px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 3px;
  color: white;
}

.menu-button-wrapper {
  height: 70px;
  .menu-button {
    position: relative;
    padding: 8px 16px;
    margin-right: 20px;
    font-size: 18px;
    font-weight: 400;
    color: black;
    cursor: pointer;
    background: $gradient-radial;
    -webkit-text-fill-color: black;
    -webkit-background-clip: text;
    transition-duration: .3s;
    &.dark {
      color: $color-accent-dark;
      background-color: $color-dark-1;
    }
    &:hover, &.active {
      -webkit-text-fill-color: transparent;
    }
  }
}

fa-icon {
  color: black;
  font-size: 25px;
  &.dark {
    color: white;
  }
}
