<div class="menu"
     [class.dark]="darkMode">
  <div class="container">
    <div class="row">
      <div class="col-12 d-flex align-items-center menu-button-wrapper">
        <div class="menu-button"
             [routerLink]="'/landing'"
             [class.active]="router.url.includes( 'landing' )">
          home
        </div>

        <div class="menu-button"
             [matMenuTriggerFor]="chapters">
          chapters
        </div>
        <ng-container *ngIf="router.url.includes('chapter')">
          <span class="chapter-count">{{ router.url.split('chapter')[1] }}</span>
        </ng-container>

        <mat-menu #chapters='matMenu'>
          <div *ngFor="let page of pages; index as i">
            <div *ngIf="page?.uid?.includes('chapter')"
                 mat-menu-item
                 routerLink="/{{page?.uid}}">
              chapter {{i+1}}
            </div>
          </div>
        </mat-menu>

        <div class="menu-button"
             [innerHTML]="!darkMode ? 'darkmode' : 'lightmode'"
             (click)="switchMode()">
        </div>
      </div>
    </div>
  </div>

</div>
