<div class="menu" [class.toggled]="windowPos < 200" [class.dark]="darkMode">
  <button mat-raised-button class="menu-button" mat-flat-button mat-ripple routerLink="/{{pages[pages?.length-1]?.uid}}"
                                                                        [queryParams]="darkMode ? { mode: 'dark' } : {}"
                                                                        [class.dark]="darkMode">
    <fa-icon [icon]="faHome" [class.dark]="darkMode"></fa-icon>
  </button>
  <button mat-raised-button class="menu-button" mat-flat-button mat-ripple [matMenuTriggerFor]="chapters" [class.dark]="darkMode">Chapters</button>
  <button mat-raised-button class="menu-button" mat-flat-button mat-ripple [innerHTML]="!darkMode ? 'Darkmode' : 'Lightmode'" [class.dark]="darkMode"
  [routerLink]="'./'" [queryParams]="!darkMode ? { mode: 'dark' } : { mode: undefined }"></button>
  <mat-menu #chapters='matMenu'>
    <div *ngFor="let page of pages; index as i">
      <button *ngIf="page?.uid?.includes('chapter')" mat-menu-item routerLink="/{{page?.uid}}" [queryParams]="darkMode ? { mode: 'dark' } : {}"
      [class.dark]="darkMode">Chapter {{i+1}}</button>
    </div>
  </mat-menu>
</div>
