@import "../../sections/imports";
button{
  height: 60px;
  width: 60px;
  background-color: white;
  border: 0;
  border-radius: 50%;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  position: fixed;
  bottom: -100px;
  margin-left: 50%;
  transform: translateX(-50%);
  transition-duration: .3s !important;
  opacity: 1;
  &.dark {
    background-color: $color-dark-1;
  }
}
fa-icon {
  z-index: 11;
  color: $color-accent;
  &.dark {
    color: $color-accent-dark;
  }
}
.scrolled {
  bottom: 50px;
}
.fadeOut {
  margin-left: 90%;
  bottom: 7.5px;
}
