@import "../imports";
.quote-container {
  box-sizing: border-box;
  border-left: 3px solid $color-accent;
  background-color: rgba(0,0,0,0.05);
  padding: 5px 10px;
  border-radius: 3px;
  &.dark {
    background-color: rgba(255,255,255,0.05);
    color: $text-dark;
    border-left: 3px solid $color-accent-dark;
  }
}
::ng-deep p {
  margin: 0;
  padding: 0;
}
